* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    color: #000000;

    background-image: url(../img/img2.jpg);  /* Reemplaza con la URL o ruta de tu imagen */
    background-size: cover;              /* Cubre todo el área de la página */
    background-position: center;         /* Centra la imagen */
    background-repeat: no-repeat;        /* Evita que la imagen se repita */
    background-attachment: fixed;        /* La imagen no se mueve al hacer scroll */
}

header {
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titulo {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    
}
a {
    text-decoration: none; /* Quita el subrayado */
    color: rgb(0, 0, 0); /* Cambia el color del texto */
}

a:hover {
    color: rgb(0, 0, 0); /* Cambia el color al pasar el ratón sobre el texto */
}

section{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}   

h1 {
    font-family: Georgia, serif;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2;
    padding: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}




.card-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    width: 30%;
    max-width: 200px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 1.1rem;
    color: #333;
}

.card:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 2rem;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-height: 80vh; /* Limita la altura máxima al 80% de la ventana */
    overflow-y: auto; /* Activa el scroll vertical */
}

.modal-content h3 {
    margin-bottom: 1rem;
}

.modal-content p {
    font-size: 1.1rem;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}





.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
   padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.shop-btn:hover {
    transform: scale(1.05);
    background-color: black;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  /*  position: fixed;*/
    width: 100%;
    bottom: 0;
}



@media screen and (max-width: 768px) {
    .hero{
        padding: 50px;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        max-width: 300px;
    }
  
}